.full-background{
    background-image: url('https://res.cloudinary.com/simpleview/image/fetch/f_auto,q_75/https://boulder.simpleviewcrm.com/images/listings/original_Rocky.Mountain.National.Park.original.35270.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    height: 84vh;
}